.Post-container {
  border-radius: 8px;
  /* border: 2px solid white; */
  padding: 24px 20px;
  background: #27292d;
}

.big-div {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  margin-bottom: 15px;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-family: "Inter";
  font-style: normal;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.dot {
  margin-right: 24px;
}

.post-home {
  font-family: "Inter";
  font-style: normal;
  line-height: 150%;
}

.comment-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.span-card {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7f8084;
  margin-left: 20px;
}

.post-input {
  display: flex;
}

.circle-img {
  background: #27292d;
  padding: 10px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i {
  height: 20px;
  width: 20px;
}
