.Screen_header {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #c5c7ca;
}

.Screen_subHeader {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7f8084;
  width: 580px;
}

.create-post {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #c5c7ca;
}

.Post-container {
  border-radius: 8px;
  border: 2px solid #35373b;
  padding: 24px 20px;
  background: #27292d;
}

.post-input {
  display: flex;
  align-items: center;
  background: #191920;
  border-radius: 8px;
  padding: 15px;
}

.circle-img-signup {
  /* background-color: yellow; */
  display: flex;
  padding: 13px;
  justify-content: end;
  margin-top: -10px;
  /* padding: 13px; */
  /* border-radius: 100%; */
}
.sign-inside {
  display: flex;
  background-color: #131319;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
}
.img-cross {
  height: 12px;
  width: 12px;
  object-fit: contain;
  cursor: pointer;
}

/* .img-signup {
  background-color: yellow;
  height: 600px;
  width: 200px;
} */

.postInputField {
  font-family: "Inter";
  font-style: normal;
  background-color: rgba(0, 0, 0, 0%);
  width: 90%;
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #7f8084;
  border: none;
}

.postInputField:focus {
  outline: none;
}

.post-btn {
  width: 100px;
  background: #4a96ff;
  border-radius: 4px;
  color: #fff;
  padding: 12px 12px;
  cursor: pointer;
  margin-top: 15px;
  border: none;
}

.coverbtn {
  display: flex;
  /* background-color: red; */
  justify-content: flex-end;
}
