body {
  background-color: #131319;
}

.main {
  /* background-color: yellowgreen; */
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: #27292d;
  border: 2px solid #969696;
  border-radius: 8px;
  padding: 40px 24px;
  width: 500px;
}
.header-main {
  margin-bottom: 50px;
  margin-top: -30px;
}
.header-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.welcome-text {
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  color: #6b6c70;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.header-text {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin: 0px;
  line-height: 22px;
}

.email {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "Inter";
  font-style: normal;
  color: #c5c7ca;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.input-field {
  border: 1.5px solid #35373b;
  border-radius: 4px;
  height: 43px;
  color: #35373b;
  background-color: #27292d;
  padding-left: 12px;
  margin-bottom: 15px;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  width: 100%;
  background: #4a96ff;
  border-radius: 4px;
  color: #fff;
  padding: 12px 0px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.login-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-text {
  font-family: "Inter";
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #7f8084;
  cursor: pointer;
}

.span-login {
  color: #fff;
}
